* {
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 243, 243);
    font-family: Arial, sans-serif;
    padding-top: 76px; /* pääkuva näkyy kokonaan sillä tämän avulla header ei piilota sitä */
    margin: 0; /* bodylla on automaattisesti pieni marginaali joten otamme sen pois */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; /* jokin numero mikä on 1 tai suurempi, jotta navbar näkyy kuvan yläpuolella eikä se jää piiloon */
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(235, 235, 235);
    transition: top .4s; 
}

header.hide {
    top: -76px;
}

/* menu-nappula siirretään oikeaan reunaan */
header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
}

header nav {
    background-color: rgb(241, 77, 77);
    position: fixed; /* nav kelluu sisällön päällä */
    top: 0; /* kiinni yläreunassa */
    left: -100%; /* haluamme, että nav on piilossa kunnes käyttäjä painaa navnappulaa */
    bottom: 0; /* alanurkassa kiinni */
    width: 100%;
    transition: left .5s; /* navkenttä avautuu ja sulkeutuu puolen sekunnin nopeudella jotta transition on pehmeämpi */
    z-index: 9999; /* tekee sen, että header nav on päällimmäinen elementti */
}

/* tämä luokka ainoastaan CSS-tiedostossa, ei tarvitse lisätä HTML-tiedostoon */
header nav.show {
    left: 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 4rem 0 0 0; /* ylhäällä marginaali 4rem */
}

header nav ul li a {
    display: block; /* antaa hieman tyhjää tilaa tekstin väliin navbarissa */
    font-size: 2rem;
    color: rgb(250, 250, 250);
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid rgb(253, 116, 116);
    transition: 0.3s; /* jos transitionin lisää hover luokkaan, transition toimii vain kun laitat hiiren päälle eikä myös silloin kun otat hiiren pois elementin päältä */
}

/* lisätään ensimmäiselle listan itemille yläviiva */
header nav ul li:first-child a {
    border-top: 1px solid rgb(253, 116, 116);
}

header nav ul li a:hover {
    background-color: rgb(253, 116, 116);
}

main {
    background-color: rgb(255, 255, 255);
    padding: 1rem; /* tekstisisältö ei ole suoraan kiinni seinissä */
    display: block; /* IE fix */
}

footer {
    font-size: .875rem; /* hivenen pienempi kuin normaali fonttikoko */
    color: rgb(110, 110, 110);
    text-align: center;
    padding: 1rem;

}

img {
    max-width: 100%; /* yhtä leveä kuin main, sillä leveys on 100% mainista */
    height: auto;
}

figure {
    margin: 1rem 0; /* ylhäällä ja alhaalla marginaalia */
}

figcaption {
    font-size: .875rem;
    font-style: italic;
    color: rgb(100, 100, 100);
}

.container {
    max-width: 1000px;
    margin: 0 auto; /* oikea ja vasen margin auto jotta teksti tasaantuu */
}

.img-main {
    position: relative;
    height: 0;
    background-color: #222;
    background-image: url('media/img-main.jpg');
    background-size: cover; /* kuva peittää koko elementin eli kuva näkyy paremmin */
    background-position: center; /* rajautuminen siistimpi/keskitetty */
    padding-top: 100%; /* padding-top 100% tekee elementistä yhtä leveän kuin bodyn leveys (isäntäelementti) */
    /* "The size of the padding as a percentage, relative to the width of the containing block." */
}

/* pseudoelementti ::, pseudoluokka : */
.img-main::before {
    content: ""; /* ominaisuus content pitää olla, jos siihen ei halua sisältöä niin se jätetään tyhjäksi "" avulla */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* display, position, top, left, right ja bottom peittää koko kuvan */
    background-color: rgba(0, 0, 0, 0.25);
}

.img-main h1 {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: rgb(252, 252, 252);
    font-size: 12vw; /* viewport width, esim 10vw on 10% viewportin leveydestä */
    text-align: center;
    padding: 0 1rem;
    margin: 0;
    transform: translateY(-50%);
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

.alert {
    background-color: rgb(255, 255, 238);
    padding: 1rem;
    border: 2px solid rgb(233, 197, 20);
    border-radius: .25rem;
    margin: 2rem 0;
}

.hidden-mobile {
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* ikkuna on keskellä ja tilaa on vain sisällön verran (+padding) */
    background-color: rgba(0, 0, 0, .75); /* 75% musta */
    padding: 1rem;
    z-index: 10000; /* peittää kaiken */
    visibility: hidden; /* jos käytämme display: none; visibilityn tilalla niin transition ei toimi opacityn kanssa */
    opacity: 0;
    transition: opacity .5s;
}

.modal.show {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    background-color: rgb(255, 255, 255);
    max-width: 768px;
    padding: 1rem;
    margin-top: -400px;
    transition: margin-top .5s;
}

/* modal-contentin sisäinen -400px ja transition + allaoleva koodi tekevät modaalilaatikolle pehmennetyn alastulon */
.modal.show .modal-content {
    margin-top: 0;
}

#logo {
    max-width: 240px;
    margin-left: 1rem; /* irroitetaan logoa hieman vasemmasta reunasta */
}

#menuBtn,
#closeMenuBtn {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; /* taustakuva näkyy kerran ja keskellä elementtiä (no-repeat, contain ja center) */
    text-indent: 100%; /* sisennä riviä 100% */
    white-space: nowrap; /* ei rivitystä */
    overflow: hidden; /* kaikki (teksti) jää piiloon */
    padding: 0; /* poistetaan automaattinen pieni padding */
    border: none;
    cursor: pointer; /* kun hiiri menee napin päälle se muuttuu sormeksi */

}

#menuBtn {
    background-image: url('media/icon-menu.svg');
    margin-right: 1rem; /* 1rem/16px irti oikeasta reunasta */
    transition: opacity .5s, transform .5s;
}

/* muutetaan focus-tilan tyylejä */
#menuBtn:focus {
    outline: 1px dotted rgb(105, 105, 105);
    outline-offset: 2px;
}

#menuBtn.hide {
    opacity: 0;
    transform: rotate(180deg); /* nappula pyörähtää kun sitä painaa */
}

#closeMenuBtn {
    position: absolute;
    top: 1rem;
    right: 1rem; /* absolute, 1rem ja 1,rem siirretään Close menu-button oikeaan yläreunaan samalla tavalla kuin menu-nappula */
    background-image: url('media/icon-close.svg');
}

/* Tyylit näkymille, joiden leveys on vähintään 480px */
@media (min-width: 480px) {

    .img-main {
        padding-top: 56.25%; /* 16:9 */
    }

    .img-main h1 {
        font-size: 8vw;
    }

    .flex-container.images {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; /* jakaa kuvat niin, että kaksi on ylhäällä ja kaksi on alhaalla */
    }

    .images > img {
        width: 47.5%;
        margin-bottom: 5%;
    }
}

/* Tyylit näkymille, joiden leveys on vähintään 768px */
@media (min-width: 768px) {

    body {
        padding-top: 146.4px; /* pääkuva jää headerin alle piiloon ilman oikeaa kokoa joka on 147px (headerin korkeus on 146.4px HUOM. tästä vähennetty border-bottom joka on 1px mobiililla) */
    }

    header {
        border-bottom: none;
    }

    header.condensed {
        top: -96px;
    }

    header.hide {
        top: -146.4px; /* kun scrollataan alaspäin niin header menee kokonaan piiloon desktopilla */
    }

    header nav {
        position: static; /* tuo navbarin takaisin näkyviin desktop näkymään */
    }

    header nav ul {
        display: flex; /* laittaa listan itemit vierekkäin */
        justify-content: center; /* keskittää itemit */
        margin: 0; /* nollataan marginit jotka lisäsimme mobile-näkymään */
    }

    header nav ul li a {
        font-size: 1rem;
        padding: 1rem 2rem; /* oikealla ja vasemmalla 2rem, ylhäällä ja alhaalla 1rem */
        border: none;
        border-right: 1px solid rgb(253, 116, 116);
    }

    header nav ul li:first-child a {
        border-top: none;
        border-left: 1px solid rgb(253, 116, 116);
    }

    .img-main {
        padding-top: 30%;
    }

    .img-main h1 {
        font-size: 5vw;
    }

    .flex-container {
        display: flex;
        justify-content: space-between; /* 5% väli kuvien välissä */
    }

    .col-1-3 {
        width: 30%; /* yhteensä 90% */

    }

    .col-2-3 {
        width: 65%;
    }

    .images > img {
        width: 21.25%;
    }

    .hidden-mobile {
        display: block;
    }

    .hidden-desktop {
        display: none;
    }

    #logo {
        max-width: 320px; /* logo hieman isommaksi konenäkymällä */
    }
}
