body {
    background-color: rgb(0, 2, 2);
    background-image: url("https://cdn.pixabay.com/photo/2019/04/17/12/37/black-cat-is-curious-4134140_1280.png");
    background-repeat: no-repeat;
    background-size: 250px;

}

h1 {
    color: rgb(248, 248, 248);
    text-align: center;
    font-family: Calibri;
    font-style: italic;
    padding: 25px;
    height: 130px;
}

p {
    color: rgb(243, 243, 243);
    text-align: center;
    font-family: Arial;
}

#alkuteksti {
    height: 150px;
}

a {
    color: rgb(243, 243, 243);
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: rgb(228, 228, 228);
}

a:hover {
    color: rgb(0, 2, 2);
}

#projektit {
    height: 230px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(0, 2, 2);
}
