body {
    background-color: rgb(255, 255, 255);
    background-image: url("https://cdn.pixabay.com/photo/2019/04/17/12/37/black-cat-is-curious-4134140_1280.png");
    background-repeat: no-repeat;
    background-size: 200px;

}

h1 {
    color: rgb(41, 41, 41);
    text-align: center;
    font-family:'Segoe UI';
    font-style: italic;
    padding: 25px;
    height: 130px;
}

p {
    color: rgb(65, 65, 65);
    text-align: center;
    font-family: Verdana;
    font-size: 90%;
}

#alkuteksti {
    height: 150px;
}

a {
    color: rgb(65, 65, 65);
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: rgb(65, 65, 65);
}

a:hover {
    color: rgb(255, 255, 255);
}

#projektit {
    height: 230px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(255, 238, 243);
}
